<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Statistics</title>
</head>
<body>
    <h1>Book Statistics</h1>
    <ul>
        <li>Total Number of Books: {{ book_stats.total_books }}</li>
        <li>Total Price of All Books: ${{ book_stats.total_price }}</li>
        <li>Average Price of Books: ${{ book_stats.average_price }}</li>
        <li>Maximum Price of a Book: ${{ book_stats.max_price }}</li>
        <li>Minimum Price of a Book: ${{ book_stats.min_price }}</li>
    </ul>
</body>
</html>
