{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables Example</title>
    <link rel="stylesheet" href="{% static 'table_style.css' %}">
</head>
<body>

    <table class="table1">
        <caption>Table 1: Table of Fruits and Their Prices</caption>
        <tr>
            <th>Fruit</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Apple</td>
            <td>$0.25</td>
        </tr>
        <tr>
            <td>Orange</td>
            <td>$0.50</td>
        </tr>
        <tr>
            <td>Banana</td>
            <td>$1.00</td>
        </tr>
        <tr>
            <td>Pineapple</td>
            <td>$2.00</td>
        </tr>
        <tr>
            <td>Total</td>
            <td>$3.75</td>
        </tr>
    </table>

    <table class="table2">
        <thead>
            <tr>
                <th rowspan="3"><img src="{% static 'desert.jpeg' %}" alt="Desert" width="300"></th>
                <th colspan="4">Camelid comparison<br>Approximate as of 6/2011</th>
            </tr>
            <tr>
                <th># of humps</th>
                <th>Indigenous region</th>
                <th>Spits?</th>
                <th>Produces wool?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dromedary</td>
                <td>1</td>
                <td>Arabian Peninsula</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Camels (bactrian)</td>
                <td>2</td>
                <td>Africa/Asia</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Llamas</td>
                <td>1</td>
                <td>Andes Mountains</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
        </tbody>
    </table>

</body>

</body>
</html>
